.app {
  text-align: center;
  min-height: 100vh;
  display: "flexbox";
  justify-content: center;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  padding: 16px 0px 16px 0px;
  border-radius: 25px;
}

.paper {
  padding: 20px 0px 20px 0px;
  width: 450px;
  border-radius: 25px;
  border: 1px solid lightgray;
}

.contentWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 16.5px;
  row-gap: 50px;
}

.topLeft {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: left;
}

.topRight {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}

.bottomLeft {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: left;
}

.bottomRight {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: end;
}

.paperSmall {
  max-width: 80px;
  display: inline-flex;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid lightgray;
  margin: 0px 5px 10px 5px;
}

.weatherDegree {
  color: #262626;
  font-family: Arial;
  font-weight: 400;
  font-size: 26pt;
  text-align: end;
}

.header {
  background-color: #ffffff;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #262626;
  font-size: 23pt;
  display: block;
}

.cityName {
  color: #262626;
  font-size: 19pt;
}

.weatherDegreeSmall {
  color: #70757a;
  font-size: 15pt;
}

.descriptionText {
  color: #70757a;
  font-size: 13pt;
}

.dateText {
  color: #262626;
  font-size: 15pt;
}

.weatherInfo {
  padding: 14px 16.5px 14px 16.5px;
}

.smallText {
  color: #70757a;
  font-family: Arial;
  font-weight: 400;
  font-size: 10pt;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #e5f6fd;
}

.appWrapper {
  padding: 0px 10px 0px 10px;
  margin: 0;
}
